# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/

# Type checkers / linters
.mypy_cache/
.ruff_cache/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
ENV/
venv_final/

# IDE / Editor
.vscode/

# OS files
.DS_Store
